/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.cdnfonts.com/css/nekluch-trial');
@import url('https://fonts.cdnfonts.com/css/dark-mood');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
#root {
    width: 100%;
    height: 100vh;
    background-color: #fff;
    font-family: Open Sans, Roboto, Arial, Helvetica, sans-serif, SimSun;
}

a {
    text-decoration: none;
}

header {
    padding: 0.7rem;
    margin-bottom: 0.8rem;
    width: 100%;
    height: 8vh;
    background-color: #d9d9d9d1;
    backdrop-filter: blur(7px);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.kent {
    color: #fff;
    font-size: 2.3rem;
    font-weight: 900;
    letter-spacing: 0.5rem;
    font-family: 'Dark Mood', sans-serif;                                        
}

.mobile-toggle {
    width: 12%;
    float: inline-end;
}

nav button {
    border: none;
    height: 10vh;
    background-color: transparent;
    position: relative;
    left: 9rem;
    top: 0;
    font-size: 2em;
    color: #fff;
}

.mobile-toggle button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 5vh;
    background: transparent;
    border: none;
    cursor: pointer;
}

.mobile-toggle .bar {
    width: 100%;
    height: 10%;
    background-color: #fff;
}

header .nav-menu {
    display: none;
    width: 60%;
    height: 50vh;
    z-index: 1000;
    justify-content: center;
    position: relative;
    left: 10rem;
    bottom: 3rem;
    background-color: rgb(41 39 39 / 90%);
    backdrop-filter: blur(10px);
    border-radius: 1rem;
    box-shadow: 1px 1px 3px #fff, -1px -1px 3px #fff;
}

header .nav-menu.visible {
    display: flex;
}

header ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5%;
}

header li {
    list-style: none;
    font-size: 1rem;
    font-weight: bold;
}

header li a {
    font-family: 'Dear Dreamer', sans-serif;
    font-size: 1.3rem;
    color: #fff;
}

.hero-container img {
    width: 50%;
}

.hero-container p {
    color: #fff;
    font-size: 1.1rem;
    font-weight: 700;
    text-align: center;
    line-height: 1.4;
    padding: 0 0.5rem;
    font-family: 'NEKLUCH Trial', sans-serif;
}

.bg-hero-container {
    height: 65rem;
    background-size: cover;
}

.businesses-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-top: -30rem;
}

.businesses-sub-container {
    width: 45%;
    border-radius: 0.5rem;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    border: 1px solid transparent;
}

.businesses-sub-container img {
    width: 100%;
}

.content span {
    display: flex;
    align-items: center;
    color: #111827;
    font-size: 0.9rem;
    line-height: 1.75rem;
    font-weight: 900;
}

.content span #loc {
    width: 10%;
    height: 2vh;
}

.content p,
.about-us p,
.add-buz p,
.contact p {
    margin-top: 0.5rem;
    color: #6B7280;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.content a {
    margin-top: 1rem;
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    background-color: #2563EB;
    padding: 4px 8px;
    border-radius: 4px;
}

.about-business {
    display: flex;
    gap: 0.4rem;
    margin-top: 2rem;
    padding: 0.5rem;
}

.about-business div h2 {
    color: #111827;
    font-size: 0.9rem;
    line-height: 1.75rem;
    font-weight: 900;
    text-decoration: underline;
    text-align: center;
}

.about-us,
.add-buz,
.contact {
    width: 50%;
    padding: 0.5rem;
    background-color: #2c3e501f;
    box-shadow: 1px 1px 3px #5a5a5a, -1px -1px 3px #5a5a5a;
    border-radius: 0.5rem;
}

.add-buz {
    height: fit-content;
    background-color: #fff;
}

.contact {
    width: 96%;
    margin: 1rem auto;
    text-align: center;
}

footer {
    background-color: #1681eb;
    color: #fff;
    padding: 10px;
    text-align: center;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    border-top-left-radius: 0.7rem;
}

.marquee {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    animation: marquee 20s linear infinite;
}

.marquee p {
    display: inline-block;
    text-align: left;
    font-size: 1.2rem;
    font-weight: 800;
    font-style: italic;
}

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.marquee:hover {
    animation-play-state: paused;
}

